body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

textarea {
  max-width: 100%;
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  font-family: Golos, Arial, sans-serif;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}